################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColorfulEZ/obj/Debug
/ColorfulEZ/bin/Debug
